<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Olá, <%= nomeUsuario %></h1>
    <p>Seja bem vindo(a) à página <%= title %></p>
    <br>
    <p>Vá para a página de produtos!</p>
    <button><a href="/produtos">PRODUTOS</a></button>
  </body>
</html>
    