<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <h1>Página de <%=title%></h1>
    <h2>Crie um produto!</h2>
    
    <form action="/produtos" method="post">
        <input type="text" name="nome" id="" placeholder="Nome no produto">
        <input type="number" name="preco" id="" placeholder="preço">
        <button type="submit">ENVIAR</button>
    </form>
    <br>

    <button><a href="/">Voltar à página inicial</a></button>

    

</body>
</html>