<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><% title %></title>
</head>
<body>
    <h1><%= nome %> criado com sucesso! Preço: <%= preco %></h1>
    <br>
    <button><a href="/">Retornar à página principal</a></button>
    <br><br>
    <button><a href="/produtos">Criar mais um produto!</a></button>
</body>
</html>